*{
    box-sizing: border-box;
}
.control-game {
    position: fixed;
    background-color: rgba(3, 169, 244, 0.9);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.control-game span{
    position: absolute;
    font-size: 35px ;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%); 
    color: #fff;
    background-color: #f44336;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.info-container{
    width: 1080px;
    margin: 20px auto 0 ;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
    display: flex;
    justify-content: space-between;
}
.memory-game{
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto  ;   
}
  .memory-game.no-clicking {
        pointer-events: none;
    }
.memory-game .game-block{
    height: 200px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex:1 0 200px;
    margin: 0 10px 20px;
}
.memory-game .game-block .front {
    background-color: #333;
    line-height: 200px;
}
.memory-game .game-block .front::before {
  content: '?';
  color: #fff;
font-size: 45px;
font-weight: bold;
}

.memory-game .game-block .end {
  background-color: #607D88;
  transform: rotateY(180deg);
}
.memory-game .game-block .end img{
    /* width: 140px;
    height: 140px; */
    margin-top: 30px;
}
.memory-game .game-block .face{
 position: absolute;
 width: 100%;
 height: 100%;
 text-align: center;
 backface-visibility: hidden;
 border: 5px solid #2196f3;
}
.memory-game  .is-click,
.memory-game  .has-matched{
  
   transform: rotateY(180deg);
   pointer-events: none;
}

